ori_sys/code/PalashDynamics.Service/Service References/DataTemplateHttpsServiceRef/DataTemplateHttpsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" />
      <xsd:import schemaLocation="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.Web.EMR" />
      <xsd:import schemaLocation="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataTemplateHttpsService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveTemplate_InputMessage">
    <wsdl:part name="parameters" element="SaveTemplate" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveTemplate_OutputMessage">
    <wsdl:part name="parameters" element="SaveTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveTemplate_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q1:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdateTemplate_InputMessage">
    <wsdl:part name="parameters" element="UpdateTemplate" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdateTemplate_OutputMessage">
    <wsdl:part name="parameters" element="UpdateTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdateTemplate_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q2:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteTemplate_InputMessage">
    <wsdl:part name="parameters" element="DeleteTemplate" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteTemplate_OutputMessage">
    <wsdl:part name="parameters" element="DeleteTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteTemplate_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q3:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_InputMessage">
    <wsdl:part name="parameters" element="GetTemplatesDetailsByTemplateTitle" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_OutputMessage">
    <wsdl:part name="parameters" element="GetTemplatesDetailsByTemplateTitleResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q4:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesList_InputMessage">
    <wsdl:part name="parameters" element="GetTemplatesList" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesList_OutputMessage">
    <wsdl:part name="parameters" element="GetTemplatesListResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetTemplatesList_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q5:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetRelationList_InputMessage">
    <wsdl:part name="parameters" element="GetRelationList" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetRelationList_OutputMessage">
    <wsdl:part name="parameters" element="GetRelationListResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetRelationList_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q6:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR_InputMessage">
    <wsdl:part name="parameters" element="SavePatientEMR" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR_OutputMessage">
    <wsdl:part name="parameters" element="SavePatientEMRResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q7:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR1_InputMessage">
    <wsdl:part name="parameters" element="SavePatientEMR1" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR1_OutputMessage">
    <wsdl:part name="parameters" element="SavePatientEMR1Response" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SavePatientEMR1_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q8:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdatePatientEMR_InputMessage">
    <wsdl:part name="parameters" element="UpdatePatientEMR" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdatePatientEMR_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePatientEMRResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UpdatePatientEMR_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q9:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_InputMessage">
    <wsdl:part name="parameters" element="GetPatientEMRByPatientIdAndTemplateId" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_OutputMessage">
    <wsdl:part name="parameters" element="GetPatientEMRByPatientIdAndTemplateIdResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q10:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="GetFileList" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFileList_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q11:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFilePath_InputMessage">
    <wsdl:part name="parameters" element="GetFilePath" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFilePath_OutputMessage">
    <wsdl:part name="parameters" element="GetFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetFilePath_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q12:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="UploadFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q13:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeletePathReportFile_InputMessage">
    <wsdl:part name="parameters" element="DeletePathReportFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeletePathReportFile_OutputMessage">
    <wsdl:part name="parameters" element="DeletePathReportFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeletePathReportFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q14:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForPathology_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForPathology" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForPathology_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForPathologyResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForPathology_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q15:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_AttachmentFile_InputMessage">
    <wsdl:part name="parameters" element="AttachmentFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_AttachmentFile_OutputMessage">
    <wsdl:part name="parameters" element="AttachmentFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_AttachmentFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q16:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteAttachmentFile_InputMessage">
    <wsdl:part name="parameters" element="DeleteAttachmentFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteAttachmentFile_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAttachmentFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteAttachmentFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q17:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_ActivationFile_InputMessage">
    <wsdl:part name="parameters" element="ActivationFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_ActivationFile_OutputMessage">
    <wsdl:part name="parameters" element="ActivationFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_ActivationFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q18:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetApplicationPath_InputMessage">
    <wsdl:part name="parameters" element="GetApplicationPath" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetApplicationPath_OutputMessage">
    <wsdl:part name="parameters" element="GetApplicationPathResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetApplicationPath_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q19:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetActivationFile_InputMessage">
    <wsdl:part name="parameters" element="GetActivationFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetActivationFile_OutputMessage">
    <wsdl:part name="parameters" element="GetActivationFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetActivationFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q20:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFile_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFile_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q21:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForRadiology_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForRadiology" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForRadiology_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForRadiologyResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForRadiology_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q22:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForDischarge_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForDischarge" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForDischarge_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForDischargeResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForDischarge_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q23:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForConsent_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForConsent" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForConsent_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForConsentResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForConsent_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q24:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForMLCase_InputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForMLCase" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForMLCase_OutputMessage">
    <wsdl:part name="parameters" element="UploadReportFileForMLCaseResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadReportFileForMLCase_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q25:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalUploadFile_InputMessage">
    <wsdl:part name="parameters" element="GlobalUploadFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalUploadFile_OutputMessage">
    <wsdl:part name="parameters" element="GlobalUploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalUploadFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q26:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalDeleteFile_InputMessage">
    <wsdl:part name="parameters" element="GlobalDeleteFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalDeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="GlobalDeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GlobalDeleteFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q27:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadETemplateFile_InputMessage">
    <wsdl:part name="parameters" element="UploadETemplateFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadETemplateFile_OutputMessage">
    <wsdl:part name="parameters" element="UploadETemplateFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadETemplateFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q28:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteReportFile_InputMessage">
    <wsdl:part name="parameters" element="DeleteReportFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteReportFile_OutputMessage">
    <wsdl:part name="parameters" element="DeleteReportFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteReportFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q29:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteMISReportFile_InputMessage">
    <wsdl:part name="parameters" element="DeleteMISReportFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteMISReportFile_OutputMessage">
    <wsdl:part name="parameters" element="DeleteMISReportFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_DeleteMISReportFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q30:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveVariance_InputMessage">
    <wsdl:part name="parameters" element="SaveVariance" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveVariance_OutputMessage">
    <wsdl:part name="parameters" element="SaveVarianceResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_SaveVariance_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q31:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetVarinceList_InputMessage">
    <wsdl:part name="parameters" element="GetVarinceList" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetVarinceList_OutputMessage">
    <wsdl:part name="parameters" element="GetVarinceListResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetVarinceList_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q32:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRList_InputMessage">
    <wsdl:part name="parameters" element="GetPatientEMRList" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRList_OutputMessage">
    <wsdl:part name="parameters" element="GetPatientEMRListResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_GetPatientEMRList_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q33:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_OpenCreatedRadReport_InputMessage">
    <wsdl:part name="parameters" element="OpenCreatedRadReport" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_OpenCreatedRadReport_OutputMessage">
    <wsdl:part name="parameters" element="OpenCreatedRadReportResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_OpenCreatedRadReport_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q34:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadSOPFile_InputMessage">
    <wsdl:part name="parameters" element="UploadSOPFile" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadSOPFile_OutputMessage">
    <wsdl:part name="parameters" element="UploadSOPFileResponse" />
  </wsdl:message>
  <wsdl:message name="DataTemplateHttpsService_UploadSOPFile_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q35:ConcurrencyException" />
  </wsdl:message>
  <wsdl:portType name="DataTemplateHttpsService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DoWork" message="DataTemplateHttpsService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DoWorkResponse" message="DataTemplateHttpsService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTemplate">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/SaveTemplate" message="DataTemplateHttpsService_SaveTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/SaveTemplateResponse" message="DataTemplateHttpsService_SaveTemplate_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/SaveTemplateConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_SaveTemplate_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplate">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UpdateTemplate" message="DataTemplateHttpsService_UpdateTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UpdateTemplateResponse" message="DataTemplateHttpsService_UpdateTemplate_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UpdateTemplateConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UpdateTemplate_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplate">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DeleteTemplate" message="DataTemplateHttpsService_DeleteTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DeleteTemplateResponse" message="DataTemplateHttpsService_DeleteTemplate_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/DeleteTemplateConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_DeleteTemplate_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatesDetailsByTemplateTitle">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesDetailsByTemplateTitle" message="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesDetailsByTemplateTitleResponse" message="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesDetailsByTemplateTitleConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetTemplatesDetailsByTemplateTitle_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatesList">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesList" message="DataTemplateHttpsService_GetTemplatesList_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesListResponse" message="DataTemplateHttpsService_GetTemplatesList_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetTemplatesListConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetTemplatesList_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationList">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetRelationList" message="DataTemplateHttpsService_GetRelationList_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetRelationListResponse" message="DataTemplateHttpsService_GetRelationList_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetRelationListConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetRelationList_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientEMR">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMR" message="DataTemplateHttpsService_SavePatientEMR_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMRResponse" message="DataTemplateHttpsService_SavePatientEMR_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMRConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_SavePatientEMR_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePatientEMR1">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMR1" message="DataTemplateHttpsService_SavePatientEMR1_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMR1Response" message="DataTemplateHttpsService_SavePatientEMR1_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/SavePatientEMR1ConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_SavePatientEMR1_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatientEMR">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UpdatePatientEMR" message="DataTemplateHttpsService_UpdatePatientEMR_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UpdatePatientEMRResponse" message="DataTemplateHttpsService_UpdatePatientEMR_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UpdatePatientEMRConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UpdatePatientEMR_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientEMRByPatientIdAndTemplateId">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRByPatientIdAndTemplateId" message="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRByPatientIdAndTemplateIdResponse" message="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRByPatientIdAndTemplateIdConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetPatientEMRByPatientIdAndTemplateId_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetFileList" message="DataTemplateHttpsService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetFileListResponse" message="DataTemplateHttpsService_GetFileList_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetFileListConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetFileList_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilePath">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetFilePath" message="DataTemplateHttpsService_GetFilePath_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetFilePathResponse" message="DataTemplateHttpsService_GetFilePath_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetFilePathConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetFilePath_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadFile" message="DataTemplateHttpsService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadFileResponse" message="DataTemplateHttpsService_UploadFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePathReportFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DeletePathReportFile" message="DataTemplateHttpsService_DeletePathReportFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DeletePathReportFileResponse" message="DataTemplateHttpsService_DeletePathReportFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/DeletePathReportFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_DeletePathReportFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFileForPathology">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForPathology" message="DataTemplateHttpsService_UploadReportFileForPathology_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForPathologyResponse" message="DataTemplateHttpsService_UploadReportFileForPathology_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForPathologyConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFileForPathology_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachmentFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/AttachmentFile" message="DataTemplateHttpsService_AttachmentFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/AttachmentFileResponse" message="DataTemplateHttpsService_AttachmentFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/AttachmentFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_AttachmentFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachmentFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DeleteAttachmentFile" message="DataTemplateHttpsService_DeleteAttachmentFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DeleteAttachmentFileResponse" message="DataTemplateHttpsService_DeleteAttachmentFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/DeleteAttachmentFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_DeleteAttachmentFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivationFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/ActivationFile" message="DataTemplateHttpsService_ActivationFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/ActivationFileResponse" message="DataTemplateHttpsService_ActivationFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/ActivationFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_ActivationFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationPath">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetApplicationPath" message="DataTemplateHttpsService_GetApplicationPath_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetApplicationPathResponse" message="DataTemplateHttpsService_GetApplicationPath_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetApplicationPathConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetApplicationPath_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivationFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetActivationFile" message="DataTemplateHttpsService_GetActivationFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetActivationFileResponse" message="DataTemplateHttpsService_GetActivationFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetActivationFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetActivationFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFile" message="DataTemplateHttpsService_UploadReportFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileResponse" message="DataTemplateHttpsService_UploadReportFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFileForRadiology">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForRadiology" message="DataTemplateHttpsService_UploadReportFileForRadiology_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForRadiologyResponse" message="DataTemplateHttpsService_UploadReportFileForRadiology_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForRadiologyConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFileForRadiology_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFileForDischarge">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForDischarge" message="DataTemplateHttpsService_UploadReportFileForDischarge_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForDischargeResponse" message="DataTemplateHttpsService_UploadReportFileForDischarge_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForDischargeConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFileForDischarge_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFileForConsent">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForConsent" message="DataTemplateHttpsService_UploadReportFileForConsent_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForConsentResponse" message="DataTemplateHttpsService_UploadReportFileForConsent_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForConsentConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFileForConsent_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportFileForMLCase">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForMLCase" message="DataTemplateHttpsService_UploadReportFileForMLCase_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForMLCaseResponse" message="DataTemplateHttpsService_UploadReportFileForMLCase_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadReportFileForMLCaseConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadReportFileForMLCase_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GlobalUploadFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GlobalUploadFile" message="DataTemplateHttpsService_GlobalUploadFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GlobalUploadFileResponse" message="DataTemplateHttpsService_GlobalUploadFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GlobalUploadFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GlobalUploadFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GlobalDeleteFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GlobalDeleteFile" message="DataTemplateHttpsService_GlobalDeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GlobalDeleteFileResponse" message="DataTemplateHttpsService_GlobalDeleteFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GlobalDeleteFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GlobalDeleteFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadETemplateFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadETemplateFile" message="DataTemplateHttpsService_UploadETemplateFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadETemplateFileResponse" message="DataTemplateHttpsService_UploadETemplateFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadETemplateFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadETemplateFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReportFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DeleteReportFile" message="DataTemplateHttpsService_DeleteReportFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DeleteReportFileResponse" message="DataTemplateHttpsService_DeleteReportFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/DeleteReportFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_DeleteReportFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMISReportFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/DeleteMISReportFile" message="DataTemplateHttpsService_DeleteMISReportFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/DeleteMISReportFileResponse" message="DataTemplateHttpsService_DeleteMISReportFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/DeleteMISReportFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_DeleteMISReportFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVariance">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/SaveVariance" message="DataTemplateHttpsService_SaveVariance_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/SaveVarianceResponse" message="DataTemplateHttpsService_SaveVariance_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/SaveVarianceConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_SaveVariance_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVarinceList">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetVarinceList" message="DataTemplateHttpsService_GetVarinceList_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetVarinceListResponse" message="DataTemplateHttpsService_GetVarinceList_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetVarinceListConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetVarinceList_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientEMRList">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRList" message="DataTemplateHttpsService_GetPatientEMRList_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRListResponse" message="DataTemplateHttpsService_GetPatientEMRList_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/GetPatientEMRListConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_GetPatientEMRList_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenCreatedRadReport">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/OpenCreatedRadReport" message="DataTemplateHttpsService_OpenCreatedRadReport_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/OpenCreatedRadReportResponse" message="DataTemplateHttpsService_OpenCreatedRadReport_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/OpenCreatedRadReportConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_OpenCreatedRadReport_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSOPFile">
      <wsdl:input wsaw:Action="urn:DataTemplateHttpsService/UploadSOPFile" message="DataTemplateHttpsService_UploadSOPFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:DataTemplateHttpsService/UploadSOPFileResponse" message="DataTemplateHttpsService_UploadSOPFile_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:DataTemplateHttpsService/UploadSOPFileConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="DataTemplateHttpsService_UploadSOPFile_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>