ori_sys/code/PalashDynamics.Service/Service References/EmailServiceReference/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost/Palash_IVFForBagulHSNewNashik.WebServer/EmailService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost/Palash_IVFForBagulHSNewNashik.WebServer/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" />
      <xsd:import schemaLocation="http://localhost/Palash_IVFForBagulHSNewNashik.WebServer/EmailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Palash_IVFForBagulHSNewNashik.WebServer/EmailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmailService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="SendEmail" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmail_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q1:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachment_InputMessage">
    <wsdl:part name="parameters" element="SendEmailwithAttachment" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachment_OutputMessage">
    <wsdl:part name="parameters" element="SendEmailwithAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachment_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q2:ConcurrencyException" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachmentForPathology_InputMessage">
    <wsdl:part name="parameters" element="SendEmailwithAttachmentForPathology" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachmentForPathology_OutputMessage">
    <wsdl:part name="parameters" element="SendEmailwithAttachmentForPathologyResponse" />
  </wsdl:message>
  <wsdl:message name="EmailService_SendEmailwithAttachmentForPathology_ConcurrencyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfExceptionExample.Web.DataContracts" name="detail" element="q3:ConcurrencyException" />
  </wsdl:message>
  <wsdl:portType name="EmailService">
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="urn:EmailService/SendEmail" message="EmailService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmailService/SendEmailResponse" message="EmailService_SendEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:EmailService/SendEmailConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="EmailService_SendEmail_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailwithAttachment">
      <wsdl:input wsaw:Action="urn:EmailService/SendEmailwithAttachment" message="EmailService_SendEmailwithAttachment_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmailService/SendEmailwithAttachmentResponse" message="EmailService_SendEmailwithAttachment_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:EmailService/SendEmailwithAttachmentConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="EmailService_SendEmailwithAttachment_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailwithAttachmentForPathology">
      <wsdl:input wsaw:Action="urn:EmailService/SendEmailwithAttachmentForPathology" message="EmailService_SendEmailwithAttachmentForPathology_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmailService/SendEmailwithAttachmentForPathologyResponse" message="EmailService_SendEmailwithAttachmentForPathology_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:EmailService/SendEmailwithAttachmentForPathologyConcurrencyExceptionFault" name="ConcurrencyExceptionFault" message="EmailService_SendEmailwithAttachmentForPathology_ConcurrencyExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>