ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.NursingStation.EMR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.NursingStation.EMR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd44" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.CompoundMaster" />
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" />
  <xs:complexType name="ArrayOfclsPrescriptionMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPrescriptionMasterVO" nillable="true" type="tns:clsPrescriptionMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPrescriptionMasterVO" nillable="true" type="tns:ArrayOfclsPrescriptionMasterVO" />
  <xs:complexType name="clsPrescriptionMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUpAdvice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IPDOPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPDOPDNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDoctorFavorite" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOrderSet" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="OPD_IPD" type="xs:short" />
      <xs:element minOccurs="0" name="Opd_Ipd_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Opd_Ipd_UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="PrescriptionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrescriptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:long" />
      <xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strOPD_IPD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPrescriptionMasterVO" nillable="true" type="tns:clsPrescriptionMasterVO" />
  <xs:complexType name="ArrayOfclsPrescriptionDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPrescriptionDetailsVO" nillable="true" type="tns:clsPrescriptionDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPrescriptionDetailsVO" nillable="true" type="tns:ArrayOfclsPrescriptionDetailsVO" />
  <xs:complexType name="clsPrescriptionDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableStock" type="xs:double" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompoundDrug" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompoundDrugID" type="xs:long" />
      <xs:element minOccurs="0" name="CompoundDrugUnitID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.CompoundMaster" minOccurs="0" name="CompoundMasterDetails" nillable="true" type="q1:clsCompoundMasterDetailsVO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.CompoundMaster" minOccurs="0" name="CompoundMasterDetailsList" nillable="true" type="q2:ArrayOfclsCompoundMasterDetailsVO" />
      <xs:element minOccurs="0" name="CompoundQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="ConsumeQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="CreatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Days" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Despense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DespenseId" type="xs:long" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoseId" type="xs:long" />
      <xs:element minOccurs="0" name="DrugID" type="xs:long" />
      <xs:element minOccurs="0" name="DrugId" type="xs:long" />
      <xs:element minOccurs="0" name="DrugName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="FrequencyName" nillable="true" type="q3:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="FromHistory" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IPDOPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InclusiveOfTax" type="xs:boolean" />
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstructionId" type="xs:long" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="InstructionName" nillable="true" type="q4:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="IsBatchRequired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChecked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompound" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFreeze" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOther" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemCategory" type="xs:long" />
      <xs:element minOccurs="0" name="ItemGroup" type="xs:long" />
      <xs:element minOccurs="0" name="ItemID" type="xs:long" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="ItemName" nillable="true" type="q5:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="LabourChargeAmt" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="LabourChargePer" nillable="true" type="xs:float" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="ListTakenBy" nillable="true" type="q6:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="Manufacture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoleculeId" type="xs:long" />
      <xs:element minOccurs="0" name="MoleculeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPD_IPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opd_Ipd_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opd_Ipd_UnitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PregnancyClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrescriptionID" type="xs:long" />
      <xs:element minOccurs="0" name="PrescriptionUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="PriorityID" type="xs:long" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="ReadymadePrescriptionID" type="xs:long" />
      <xs:element minOccurs="0" name="ReadymadePrescriptionUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Refill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteId" type="xs:long" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="RouteName" nillable="true" type="q7:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="RowID" type="xs:long" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedFrequency" nillable="true" type="q8:MasterListItem" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedInstruction" nillable="true" type="q9:MasterListItem" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedItem" nillable="true" type="q10:MasterListItem" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedRoute" nillable="true" type="q11:MasterListItem" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedTakenBy" nillable="true" type="q12:MasterListItem" />
      <xs:element minOccurs="0" name="SrNo" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Strength" type="xs:double" />
      <xs:element minOccurs="0" name="StrengthUnit" type="xs:long" />
      <xs:element minOccurs="0" name="TakenBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TakenID" type="xs:long" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisibleCompaundDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPrescriptionDetailsVO" nillable="true" type="tns:clsPrescriptionDetailsVO" />
  <xs:complexType name="FrequencyMaster">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" base="q13:NotificationModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:long" />
          <xs:element minOccurs="0" name="PrintDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
          <xs:element minOccurs="0" name="isChecked" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrequencyMaster" nillable="true" type="tns:FrequencyMaster" />
  <xs:complexType name="clsPatientCompoundPrescriptionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComponentQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="CompoundDrug" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompoundDrugID" type="xs:long" />
      <xs:element minOccurs="0" name="CompoundDrugUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Dose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="InstructionName" nillable="true" type="q14:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="ItemID" type="xs:long" />
      <xs:element minOccurs="0" name="PrescriptionID" type="xs:long" />
      <xs:element minOccurs="0" name="Rate" type="xs:float" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="RouteName" nillable="true" type="q15:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="SelectedFrequency" nillable="true" type="tns:FrequencyMaster" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedInstruction" nillable="true" type="q16:MasterListItem" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="SelectedRoute" nillable="true" type="q17:MasterListItem" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientCompoundPrescriptionVO" nillable="true" type="tns:clsPatientCompoundPrescriptionVO" />
  <xs:complexType name="clsItemMoleculeVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Form" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoleculeName" type="xs:long" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsItemMoleculeVO" nillable="true" type="tns:clsItemMoleculeVO" />
</xs:schema>