ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.EMR.GrowthChart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.EMR.GrowthChart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsGetPatientGrowthChartBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DrID" type="xs:long" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="GrowthChartDetailList" nillable="true" type="tns:ArrayOfclsGrowthChartVO" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientGrowthChartBizActionVO" nillable="true" type="tns:clsGetPatientGrowthChartBizActionVO" />
  <xs:complexType name="ArrayOfclsGrowthChartVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrowthChartVO" nillable="true" type="tns:clsGrowthChartVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrowthChartVO" nillable="true" type="tns:ArrayOfclsGrowthChartVO" />
  <xs:complexType name="clsGrowthChartVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:long" />
      <xs:element minOccurs="0" name="AgeInMonth" type="xs:long" />
      <xs:element minOccurs="0" name="AgeInYearMonthDays" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BMI" type="xs:double" />
      <xs:element minOccurs="0" name="ChiefComplaint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBP" type="xs:double" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DrID" type="xs:long" />
      <xs:element minOccurs="0" name="DrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="HC" type="xs:double" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileCountryCode" type="xs:long" />
      <xs:element minOccurs="0" name="OPD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pulse" type="xs:double" />
      <xs:element minOccurs="0" name="RR" type="xs:double" />
      <xs:element minOccurs="0" name="SBP" type="xs:double" />
      <xs:element minOccurs="0" name="Spo2" type="xs:double" />
      <xs:element minOccurs="0" name="Temprature" type="xs:double" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="ViewDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitID" type="xs:long" />
      <xs:element minOccurs="0" name="VisitType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrowthChartVO" nillable="true" type="tns:clsGrowthChartVO" />
  <xs:complexType name="clsGetPatientGrowthChartMonthlyBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DrID" type="xs:long" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="GrowthChartDetailList" nillable="true" type="tns:ArrayOfclsGrowthChartVO" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsOPDIPD" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientGrowthChartMonthlyBizActionVO" nillable="true" type="tns:clsGetPatientGrowthChartMonthlyBizActionVO" />
  <xs:complexType name="clsGetPatientGrowthChartYearlyBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DrID" type="xs:long" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="GrowthChartDetailList" nillable="true" type="tns:ArrayOfclsGrowthChartVO" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsopdIPd" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientGrowthChartYearlyBizActionVO" nillable="true" type="tns:clsGetPatientGrowthChartYearlyBizActionVO" />
</xs:schema>