ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService67.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DischargeTemplateMaster" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DischargeTemplateMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsDischargeTemplateMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DischargeTemplateDetails" nillable="true" type="tns:clsDischargeTemplateDetailsVO" />
      <xs:element minOccurs="0" name="DischargeTemplateDetailsList" nillable="true" type="tns:ArrayOfclsDischargeTemplateDetailsVO" />
      <xs:element minOccurs="0" name="DischargeTemplateID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsTextTemplate" type="xs:boolean" />
      <xs:element minOccurs="0" name="RowID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:long" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDischargeTemplateMasterVO" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
  <xs:complexType name="clsDischargeTemplateDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicableFont" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingControl" type="xs:long" />
      <xs:element minOccurs="0" name="BindingControlName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisChargeTemplateID" type="xs:long" />
      <xs:element minOccurs="0" name="DisChargeTemplateUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsTextBoxEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowID" type="xs:long" />
      <xs:element minOccurs="0" name="TextData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDischargeTemplateDetailsVO" nillable="true" type="tns:clsDischargeTemplateDetailsVO" />
  <xs:complexType name="ArrayOfclsDischargeTemplateDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsDischargeTemplateDetailsVO" nillable="true" type="tns:clsDischargeTemplateDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsDischargeTemplateDetailsVO" nillable="true" type="tns:ArrayOfclsDischargeTemplateDetailsVO" />
  <xs:complexType name="clsAddDischargeTemplateMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeTemplateDetailsList" nillable="true" type="tns:ArrayOfclsDischargeTemplateDetailsVO" />
      <xs:element minOccurs="0" name="DischargeTemplateMaster" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="IsCheckBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsModify" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:long" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddDischargeTemplateMasterBizActionVO" nillable="true" type="tns:clsAddDischargeTemplateMasterBizActionVO" />
  <xs:complexType name="clsUpdateDischargeTemplateMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeTemplateMaster" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateDischargeTemplateMasterBizActionVO" nillable="true" type="tns:clsUpdateDischargeTemplateMasterBizActionVO" />
  <xs:complexType name="clsAddDischargeTemplateDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeTemplateDetails" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddDischargeTemplateDetailsBizActionVO" nillable="true" type="tns:clsAddDischargeTemplateDetailsBizActionVO" />
  <xs:complexType name="clsUpdateDischargeTemplateDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeTemplateDetails" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateDischargeTemplateDetailsBizActionVO" nillable="true" type="tns:clsUpdateDischargeTemplateDetailsBizActionVO" />
  <xs:complexType name="clsGetDischargeTemplateMasterListBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="DischargeTemplateDetailsList" nillable="true" type="tns:ArrayOfclsDischargeTemplateDetailsVO" />
      <xs:element minOccurs="0" name="DischargeTemplateMaster" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="DischargeTemplateMasterList" nillable="true" type="tns:ArrayOfclsDischargeTemplateMasterVO" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsViewClick" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="PagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="SearchExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRowIndex" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetDischargeTemplateMasterListBizActionVO" nillable="true" type="tns:clsGetDischargeTemplateMasterListBizActionVO" />
  <xs:complexType name="ArrayOfclsDischargeTemplateMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsDischargeTemplateMasterVO" nillable="true" type="tns:clsDischargeTemplateMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsDischargeTemplateMasterVO" nillable="true" type="tns:ArrayOfclsDischargeTemplateMasterVO" />
</xs:schema>