ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ErrorLog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ErrorLog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="PalashLogManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ErrorInformation" nillable="true" type="q1:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalashLogManager" nillable="true" type="tns:PalashLogManager" />
</xs:schema>