ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.TokenDisplay" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.TokenDisplay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" />
  <xs:complexType name="clsAddUpdateTokenDisplayBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientId" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:long" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddUpdateTokenDisplayBizActionVO" nillable="true" type="tns:clsAddUpdateTokenDisplayBizActionVO" />
  <xs:complexType name="clsGetTokenDisplayBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListTokenDisplay" nillable="true" type="tns:ArrayOfclsTokenDisplayVO" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="MasterList" nillable="true" type="q1:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:clsGetTokenDisplayBizActionVO.KeyValue" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:long" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetTokenDisplayBizActionVO" nillable="true" type="tns:clsGetTokenDisplayBizActionVO" />
  <xs:complexType name="ArrayOfclsTokenDisplayVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsTokenDisplayVO" nillable="true" type="tns:clsTokenDisplayVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsTokenDisplayVO" nillable="true" type="tns:ArrayOfclsTokenDisplayVO" />
  <xs:complexType name="clsTokenDisplayVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cabin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="MrNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTokenDisplayVO" nillable="true" type="tns:clsTokenDisplayVO" />
  <xs:complexType name="clsGetTokenDisplayBizActionVO.KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetTokenDisplayBizActionVO.KeyValue" nillable="true" type="tns:clsGetTokenDisplayBizActionVO.KeyValue" />
  <xs:complexType name="clsUpdateTokenDisplayStatusBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientId" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:long" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateTokenDisplayStatusBizActionVO" nillable="true" type="tns:clsUpdateTokenDisplayStatusBizActionVO" />
  <xs:complexType name="clsGetTokenDisplayPatirntDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDisplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListTokenDisplay" nillable="true" type="tns:ArrayOfclsTokenDisplayVO" />
      <xs:element minOccurs="0" name="PatientId" type="xs:long" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:long" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetTokenDisplayPatirntDetailsBizActionVO" nillable="true" type="tns:clsGetTokenDisplayPatirntDetailsBizActionVO" />
</xs:schema>