ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.DashboardMIS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.DashboardMIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cls_DashboardMIS_ReferralReportBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:cls_DashboardMIS_ReferralReportVO" />
      <xs:element minOccurs="0" name="ReferralReportList" nillable="true" type="tns:ArrayOfcls_DashboardMIS_ReferralReportListVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cls_DashboardMIS_ReferralReportBizActionVO" nillable="true" type="tns:cls_DashboardMIS_ReferralReportBizActionVO" />
  <xs:complexType name="cls_DashboardMIS_ReferralReportVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cls_DashboardMIS_ReferralReportVO" nillable="true" type="tns:cls_DashboardMIS_ReferralReportVO" />
  <xs:complexType name="ArrayOfcls_DashboardMIS_ReferralReportListVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cls_DashboardMIS_ReferralReportListVO" nillable="true" type="tns:cls_DashboardMIS_ReferralReportListVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcls_DashboardMIS_ReferralReportListVO" nillable="true" type="tns:ArrayOfcls_DashboardMIS_ReferralReportListVO" />
  <xs:complexType name="cls_DashboardMIS_ReferralReportListVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BDName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalDoctorRefCount" type="xs:long" />
      <xs:element minOccurs="0" name="InternalDoctorRefCount" type="xs:long" />
      <xs:element minOccurs="0" name="RefPaitentCount" type="xs:long" />
      <xs:element minOccurs="0" name="SrNo" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cls_DashboardMIS_ReferralReportListVO" nillable="true" type="tns:cls_DashboardMIS_ReferralReportListVO" />
</xs:schema>