ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.EMR.EMR_Field_Values" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.EMR.EMR_Field_Values" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsFieldValuesMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdateWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UsedFor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsFieldValuesMasterVO" nillable="true" type="tns:clsFieldValuesMasterVO" />
  <xs:complexType name="clsGetFieldValueMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:long" />
      <xs:element minOccurs="0" name="PagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="SearchExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRowIndex" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:long" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="objFieldMasterDetails" nillable="true" type="tns:ArrayOfclsFieldValuesMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetFieldValueMasterBizActionVO" nillable="true" type="tns:clsGetFieldValueMasterBizActionVO" />
  <xs:complexType name="ArrayOfclsFieldValuesMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsFieldValuesMasterVO" nillable="true" type="tns:clsFieldValuesMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsFieldValuesMasterVO" nillable="true" type="tns:ArrayOfclsFieldValuesMasterVO" />
  <xs:complexType name="clsAddUpdateFieldValueMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="objFieldMatserDetails" nillable="true" type="tns:clsFieldValuesMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddUpdateFieldValueMasterBizActionVO" nillable="true" type="tns:clsAddUpdateFieldValueMasterBizActionVO" />
  <xs:complexType name="clsUpdateStatusFieldValueMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldStatus" nillable="true" type="tns:clsFieldValuesMasterVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateStatusFieldValueMasterBizActionVO" nillable="true" type="tns:clsUpdateStatusFieldValueMasterBizActionVO" />
  <xs:complexType name="clsGetUsedForMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="objFieldMasterDetails" nillable="true" type="tns:ArrayOfclsFieldValuesMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetUsedForMasterBizActionVO" nillable="true" type="tns:clsGetUsedForMasterBizActionVO" />
</xs:schema>