ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.VisitType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.VisitType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsCheckVisitTypeMappedWithPackageServiceBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Res_ISPackageService" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="VisitTypeID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCheckVisitTypeMappedWithPackageServiceBizActionVO" nillable="true" type="tns:clsCheckVisitTypeMappedWithPackageServiceBizActionVO" />
</xs:schema>