ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.RoleMaster" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.RoleMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Master" />
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" />
  <xs:complexType name="clsGetSelectedRoleMenuIdBizActionVO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Master" minOccurs="0" name="DashBoardList" nillable="true" type="q1:ArrayOfclsDashBoardVO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="MenuList" nillable="true" type="q2:ArrayOfclsMenuVO" />
      <xs:element minOccurs="0" name="RoleId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetSelectedRoleMenuIdBizActionVO" nillable="true" type="tns:clsGetSelectedRoleMenuIdBizActionVO" />
  <xs:complexType name="clsGetRoleGeneralDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputMaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="InputPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="InputSearchExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputSortExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputStartRowIndex" type="xs:int" />
      <xs:element minOccurs="0" name="OutputTotalRows" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Master" minOccurs="0" name="RoleGeneralDetailsList" nillable="true" type="q3:ArrayOfclsUserRoleVO" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetRoleGeneralDetailsBizActionVO" nillable="true" type="tns:clsGetRoleGeneralDetailsBizActionVO" />
</xs:schema>