ori_sys/code/PalashDynamics.Service/Service References/PalashTestServiceReference/PalashTestService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.UnitMaster" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.UnitMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Palash_IVF_Genome_V1.WebServer/PalashTestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" />
  <xs:complexType name="clsCheckLicenseToBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitDetails" nillable="true" type="tns:clsUnitMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCheckLicenseToBizActionVO" nillable="true" type="tns:clsCheckLicenseToBizActionVO" />
  <xs:complexType name="clsUnitMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Areaid" type="xs:long" />
      <xs:element minOccurs="0" name="ChkSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cityid" type="xs:long" />
      <xs:element minOccurs="0" name="ClinicRegNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClusterID" type="xs:long" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Countryid" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentDetails" nillable="true" type="tns:ArrayOfclsDepartmentDetailsVO" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTNNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsClinic" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCollectionUnit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProcessingUnit" type="xs:boolean" />
      <xs:element minOccurs="0" name="MobileCountryCode" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmacyLicenseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResiNoCountryCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResiSTDCode" type="xs:int" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stateid" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TINNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taluka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUnitMasterVO" nillable="true" type="tns:clsUnitMasterVO" />
  <xs:complexType name="ArrayOfclsDepartmentDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsDepartmentDetailsVO" nillable="true" type="tns:clsDepartmentDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsDepartmentDetailsVO" nillable="true" type="tns:ArrayOfclsDepartmentDetailsVO" />
  <xs:complexType name="clsDepartmentDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDepartmentDetailsVO" nillable="true" type="tns:clsDepartmentDetailsVO" />
  <xs:complexType name="clsAddUnitMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitDetails" nillable="true" type="tns:clsUnitMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddUnitMasterBizActionVO" nillable="true" type="tns:clsAddUnitMasterBizActionVO" />
  <xs:complexType name="ArrayOfclsTaxBuilderVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsTaxBuilderVO" nillable="true" type="tns:clsTaxBuilderVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsTaxBuilderVO" nillable="true" type="tns:ArrayOfclsTaxBuilderVO" />
  <xs:complexType name="clsTaxBuilderVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddServiceID" type="xs:long" />
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralError" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsAddAsService" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsItemServiceWiseApp" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStatutory" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrimaryKeyViolationError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TaxApplicableOn" type="xs:long" />
      <xs:element minOccurs="0" name="TaxOnTaxID" type="xs:long" />
      <xs:element minOccurs="0" name="TaxPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="TaxType" type="xs:long" />
      <xs:element minOccurs="0" name="TaxTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTaxBuilderVO" nillable="true" type="tns:clsTaxBuilderVO" />
  <xs:complexType name="clsGetUnitDetailsByIDBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsUnitMasterVO" />
      <xs:element minOccurs="0" name="IsUserWise" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="ObjMasterList" nillable="true" type="q1:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetUnitDetailsByIDBizActionVO" nillable="true" type="tns:clsGetUnitDetailsByIDBizActionVO" />
  <xs:complexType name="clsGetUnitMasterListBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitDetails" nillable="true" type="tns:ArrayOfclsUnitMasterVO" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetUnitMasterListBizActionVO" nillable="true" type="tns:clsGetUnitMasterListBizActionVO" />
  <xs:complexType name="ArrayOfclsUnitMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsUnitMasterVO" nillable="true" type="tns:clsUnitMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsUnitMasterVO" nillable="true" type="tns:ArrayOfclsUnitMasterVO" />
  <xs:complexType name="clsGetDepartmentListBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitDetails" nillable="true" type="tns:ArrayOfclsUnitMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetDepartmentListBizActionVO" nillable="true" type="tns:clsGetDepartmentListBizActionVO" />
</xs:schema>