ori_sys/code/PalashDynamics.Service/Service References/PalashServiceReferance/PalashDynamics14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DoctorScheduleMaster" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DoctorScheduleMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Palash_IVF_MAH.WebServer/PalashDynamics.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" />
  <xs:complexType name="clsCheckTimeForScheduleExistanceBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="Details" nillable="true" type="q1:ArrayOfclsDoctorScheduleDetailsVO" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="Schedule1_EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schedule1_StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schedule2_EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schedule2_StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCheckTimeForScheduleExistanceBizActionVO" nillable="true" type="tns:clsCheckTimeForScheduleExistanceBizActionVO" />
</xs:schema>