ori_sys/code/PalashDynamics.Service/Service References/PalashServiceReferance/PalashDynamics56.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DoctorShareRange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.DoctorShareRange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Palash_IVF_MAH.WebServer/PalashDynamics.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" />
  <xs:complexType name="clsAddDoctorShareRangeBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsStatusChanged" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="ShareRangeDetails" nillable="true" type="q1:clsDoctorShareRangeVO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="ShareRangeList" nillable="true" type="q2:ArrayOfclsDoctorShareRangeVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddDoctorShareRangeBizActionVO" nillable="true" type="tns:clsAddDoctorShareRangeBizActionVO" />
  <xs:complexType name="clsGetDoctorShareRangeListBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaximumRows" type="xs:long" />
      <xs:element minOccurs="0" name="PagingEnabled" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="ShareRangeDetails" nillable="true" type="q3:clsDoctorShareRangeVO" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration" minOccurs="0" name="ShareRangeList" nillable="true" type="q4:ArrayOfclsDoctorShareRangeVO" />
      <xs:element minOccurs="0" name="StartRowIndex" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetDoctorShareRangeListBizActionVO" nillable="true" type="tns:clsGetDoctorShareRangeListBizActionVO" />
</xs:schema>