ori_sys/code/PalashDynamics.Service/Service References/PalashServiceReferance/PalashDynamics27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.Quotation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.Quotation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Palash_IVF_MAH.WebServer/PalashDynamics.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" />
  <xs:complexType name="clsGetQuotationBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemIDs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRows" type="xs:int" />
      <xs:element minOccurs="0" name="QuotaionList" nillable="true" type="tns:ArrayOfclsQuotaionVO" />
      <xs:element minOccurs="0" name="Quotation" nillable="true" type="tns:clsQuotaionVO" />
      <xs:element minOccurs="0" name="SearchFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchStoreID" type="xs:long" />
      <xs:element minOccurs="0" name="SearchSupplierID" type="xs:long" />
      <xs:element minOccurs="0" name="SearchToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierIDs" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" minOccurs="0" name="TermsAndConditions" nillable="true" type="q1:ArrayOfclsItemsEnquiryTermConditionVO" />
      <xs:element minOccurs="0" name="TotalRowCount" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetQuotationBizActionVO" nillable="true" type="tns:clsGetQuotationBizActionVO" />
  <xs:complexType name="ArrayOfclsQuotaionVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsQuotaionVO" nillable="true" type="tns:clsQuotaionVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsQuotaionVO" nillable="true" type="tns:ArrayOfclsQuotaionVO" />
  <xs:complexType name="clsQuotaionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnquiryID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfclsQuotationDetailsVO" />
      <xs:element minOccurs="0" name="LeadTime" type="xs:long" />
      <xs:element minOccurs="0" name="LinkServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinRows" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other" type="xs:double" />
      <xs:element minOccurs="0" name="QuotationFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartIndex" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="StoreID" type="xs:long" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierID" type="xs:long" />
      <xs:element minOccurs="0" name="TermsConditionID" type="xs:long" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TotalConcession" type="xs:double" />
      <xs:element minOccurs="0" name="TotalNet" type="xs:double" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTAX" type="xs:double" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidityDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsQuotaionVO" nillable="true" type="tns:clsQuotaionVO" />
  <xs:complexType name="ArrayOfclsQuotationDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsQuotationDetailsVO" nillable="true" type="tns:clsQuotationDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsQuotationDetailsVO" nillable="true" type="tns:ArrayOfclsQuotationDetailsVO" />
  <xs:complexType name="clsQuotationDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="ConPercent" type="xs:double" />
      <xs:element minOccurs="0" name="ConcessionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ConcessionPercent" type="xs:double" />
      <xs:element minOccurs="0" name="ExciseAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ExcisePercent" type="xs:double" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:long" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="QuotationID" type="xs:long" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAXAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TAXPer" type="xs:double" />
      <xs:element minOccurs="0" name="TAXPercent" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsQuotationDetailsVO" nillable="true" type="tns:clsQuotationDetailsVO" />
  <xs:complexType name="clsAddQuotationBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuotaionList" nillable="true" type="tns:ArrayOfclsQuotaionVO" />
      <xs:element minOccurs="0" name="Quotation" nillable="true" type="tns:clsQuotaionVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" minOccurs="0" name="TermsAndConditions" nillable="true" type="q2:ArrayOfclsItemsEnquiryTermConditionVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddQuotationBizActionVO" nillable="true" type="tns:clsAddQuotationBizActionVO" />
  <xs:complexType name="clsAddQuotationAttachmentBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentList" nillable="true" type="tns:ArrayOfclsQuotationAttachmentsVO" />
      <xs:element minOccurs="0" name="Quotation" nillable="true" type="tns:clsQuotaionVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddQuotationAttachmentBizActionVO" nillable="true" type="tns:clsAddQuotationAttachmentBizActionVO" />
  <xs:complexType name="ArrayOfclsQuotationAttachmentsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsQuotationAttachmentsVO" nillable="true" type="tns:clsQuotationAttachmentsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsQuotationAttachmentsVO" nillable="true" type="tns:ArrayOfclsQuotationAttachmentsVO" />
  <xs:complexType name="clsQuotationAttachmentsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachedFileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AttachedFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LeadTime" type="xs:long" />
      <xs:element minOccurs="0" name="QuotationID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="ValidityDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsQuotationAttachmentsVO" nillable="true" type="tns:clsQuotationAttachmentsVO" />
  <xs:complexType name="clsGetQuotationAttachmentBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentList" nillable="true" type="tns:ArrayOfclsQuotationAttachmentsVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRows" type="xs:int" />
      <xs:element minOccurs="0" name="Quotation" nillable="true" type="tns:clsQuotaionVO" />
      <xs:element minOccurs="0" name="QuotationID" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRowCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetQuotationAttachmentBizActionVO" nillable="true" type="tns:clsGetQuotationAttachmentBizActionVO" />
  <xs:complexType name="clsDeleteQuotationAttachmentBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="QuotationID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDeleteQuotationAttachmentBizActionVO" nillable="true" type="tns:clsDeleteQuotationAttachmentBizActionVO" />
  <xs:complexType name="clsGetQuotationDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinRows" type="xs:int" />
      <xs:element minOccurs="0" name="QuotaionList" nillable="true" type="tns:ArrayOfclsQuotationDetailsVO" />
      <xs:element minOccurs="0" name="Quotation" nillable="true" type="tns:clsQuotaionVO" />
      <xs:element minOccurs="0" name="SearchQuotationID" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetQuotationDetailsBizActionVO" nillable="true" type="tns:clsGetQuotationDetailsBizActionVO" />
</xs:schema>