ori_sys/code/PalashDynamics.Service/Service References/PalashServiceReferance/PalashDynamics24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.BarCode" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.BarCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Palash_IVF_MAH.WebServer/PalashDynamics.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" />
  <xs:complexType name="clsCounterSaleBarCodeBizActionVO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" minOccurs="0" name="AppBarCode" nillable="true" type="q1:clsItemSalesDetailsVO" />
      <xs:element minOccurs="0" name="BarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchID" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory" minOccurs="0" name="IssueList" nillable="true" type="q2:ArrayOfclsItemSalesDetailsVO" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:long" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCounterSaleBarCodeBizActionVO" nillable="true" type="tns:clsCounterSaleBarCodeBizActionVO" />
</xs:schema>