ori_sys/code/PalashDynamics.Service/Service References/PalashServiceReferance/PalashDynamics47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.MachineParameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.MachineParameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Palash_IVF_MAH.WebServer/PalashDynamics.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Pathology.PathologyMasters" />
  <xs:complexType name="clsGetPathoParameterMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="SearchExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartRowIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPathoParameterMasterBizActionVO" nillable="true" type="tns:clsGetPathoParameterMasterBizActionVO" />
  <xs:complexType name="clsGetPathoParameterByIDBizActionVO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Pathology.PathologyMasters" minOccurs="0" name="Details" nillable="true" type="q1:clsPathoParameterMasterVO" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPathoParameterByIDBizActionVO" nillable="true" type="tns:clsGetPathoParameterByIDBizActionVO" />
  <xs:complexType name="clsAddUpdatePathoMachineParameterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsMachineParameterMasterVO" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddUpdatePathoMachineParameterBizActionVO" nillable="true" type="tns:clsAddUpdatePathoMachineParameterBizActionVO" />
  <xs:complexType name="clsMachineParameterMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="Freezed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineId" type="xs:long" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMachineParameterMasterVO" nillable="true" type="tns:clsMachineParameterMasterVO" />
  <xs:complexType name="clsUpdateStatusMachineParameterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateStatusMachineParameterBizActionVO" nillable="true" type="tns:clsUpdateStatusMachineParameterBizActionVO" />
  <xs:complexType name="clsGetPathoMachineParameterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsMachineParameterMasterVO" />
      <xs:element minOccurs="0" name="DetailsList" nillable="true" type="tns:ArrayOfclsMachineParameterMasterVO" />
      <xs:element minOccurs="0" name="GetList" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MachineID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPathoMachineParameterBizActionVO" nillable="true" type="tns:clsGetPathoMachineParameterBizActionVO" />
  <xs:complexType name="ArrayOfclsMachineParameterMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsMachineParameterMasterVO" nillable="true" type="tns:clsMachineParameterMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsMachineParameterMasterVO" nillable="true" type="tns:ArrayOfclsMachineParameterMasterVO" />
  <xs:complexType name="clsGetParameterLinkingBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsParameterLinkingVO" />
      <xs:element minOccurs="0" name="DetailsList" nillable="true" type="tns:ArrayOfclsParameterLinkingVO" />
      <xs:element minOccurs="0" name="GetList" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MachineID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineParaID" type="xs:long" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="ParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetParameterLinkingBizActionVO" nillable="true" type="tns:clsGetParameterLinkingBizActionVO" />
  <xs:complexType name="clsParameterLinkingVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="Freezed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="ParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsParameterLinkingVO" nillable="true" type="tns:clsParameterLinkingVO" />
  <xs:complexType name="ArrayOfclsParameterLinkingVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsParameterLinkingVO" nillable="true" type="tns:clsParameterLinkingVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsParameterLinkingVO" nillable="true" type="tns:ArrayOfclsParameterLinkingVO" />
  <xs:complexType name="clsAddUpdateParameterLinkingBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsParameterLinkingVO" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddUpdateParameterLinkingBizActionVO" nillable="true" type="tns:clsAddUpdateParameterLinkingBizActionVO" />
  <xs:complexType name="clsUpdateStatusParameterLinkingBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="MachineParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdateStatusParameterLinkingBizActionVO" nillable="true" type="tns:clsUpdateStatusParameterLinkingBizActionVO" />
  <xs:complexType name="clsGetParaByParaAndMachineBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:clsParameterLinkingVO" />
      <xs:element minOccurs="0" name="DetailsList" nillable="true" type="tns:ArrayOfclsParameterLinkingVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MachineParaID" type="xs:long" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="ParameterID" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetParaByParaAndMachineBizActionVO" nillable="true" type="tns:clsGetParaByParaAndMachineBizActionVO" />
</xs:schema>