ori_sys/code/MIS/Service References/RaziClinicServiceRef/RAZIClinicWeb5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.EnquirySearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Inventory.EnquirySearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsEnquirySearchVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EnquiryID" type="xs:long" />
      <xs:element minOccurs="0" name="EnquiryList" nillable="true" type="tns:ArrayOfclsEnquirySearchVO" />
      <xs:element minOccurs="0" name="EnquiryNumber" type="xs:long" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackSize" type="xs:float" />
      <xs:element minOccurs="0" name="Quantity" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEnquirySearchVO" nillable="true" type="tns:clsEnquirySearchVO" />
  <xs:complexType name="ArrayOfclsEnquirySearchVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsEnquirySearchVO" nillable="true" type="tns:clsEnquirySearchVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsEnquirySearchVO" nillable="true" type="tns:ArrayOfclsEnquirySearchVO" />
</xs:schema>