ori_sys/code/MIS/Service References/RaziClinicServiceRef/RAZIClinicWeb18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Patient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Patient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RAZIClinic.Web/RAZIClinicWeb.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" />
  <xs:complexType name="clsGetPatientBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:clsPatientVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientBizActionVO" nillable="true" type="tns:clsGetPatientBizActionVO" />
  <xs:complexType name="clsPatientVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BloodGroupID" type="xs:long" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CivilID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doctor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FamilyDetails" nillable="true" type="tns:ArrayOfclsPatientFamilyDetailsVO" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="GeneralDetails" nillable="true" type="tns:clsPatientGeneralVO" />
      <xs:element minOccurs="0" name="IsLoyaltyMember" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoyaltyCardID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LoyaltyCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatusID" type="xs:long" />
      <xs:element minOccurs="0" name="MobileCountryCode" type="xs:long" />
      <xs:element minOccurs="0" name="OccupationId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OtherDetails" nillable="true" type="tns:clsPatientOtherDetailsVO" />
      <xs:element minOccurs="0" name="ParentPatientID" type="xs:long" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferNameonLoyaltyCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationID" type="xs:long" />
      <xs:element minOccurs="0" name="ReligionID" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResiNoCountryCode" type="xs:long" />
      <xs:element minOccurs="0" name="ResiSTDCode" type="xs:long" />
      <xs:element minOccurs="0" name="SelectPatient" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceDetails" nillable="true" type="tns:ArrayOfclsPatientServiceDetails" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Taluka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffID" type="xs:long" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientVO" nillable="true" type="tns:clsPatientVO" />
  <xs:complexType name="ArrayOfclsPatientFamilyDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPatientFamilyDetailsVO" nillable="true" type="tns:clsPatientFamilyDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPatientFamilyDetailsVO" nillable="true" type="tns:ArrayOfclsPatientFamilyDetailsVO" />
  <xs:complexType name="clsPatientFamilyDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberRegistered" type="xs:boolean" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffID" type="xs:long" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientFamilyDetailsVO" nillable="true" type="tns:clsPatientFamilyDetailsVO" />
  <xs:complexType name="clsPatientGeneralVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
      <xs:element minOccurs="0" name="Complaint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNO1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientSourceID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientTypeID" type="xs:long" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationID" type="xs:long" />
      <xs:element minOccurs="0" name="Tariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UniversalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientGeneralVO" nillable="true" type="tns:clsPatientGeneralVO" />
  <xs:complexType name="clsPatientOtherDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Question1" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question2" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question3" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question4" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question4Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question5A" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question5B" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question5C" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientOtherDetailsVO" nillable="true" type="tns:clsPatientOtherDetailsVO" />
  <xs:complexType name="ArrayOfclsPatientServiceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPatientServiceDetails" nillable="true" type="tns:clsPatientServiceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPatientServiceDetails" nillable="true" type="tns:ArrayOfclsPatientServiceDetails" />
  <xs:complexType name="clsPatientServiceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConcessionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ConcessionPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="CreatedUnitId" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LoyaltyID" type="xs:long" />
      <xs:element minOccurs="0" name="NetAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="RelationID" type="xs:long" />
      <xs:element minOccurs="0" name="SelectService" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" type="xs:long" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TariffID" type="xs:long" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPatientServiceDetails" nillable="true" type="tns:clsPatientServiceDetails" />
  <xs:complexType name="clsGetPatientTariffsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects" minOccurs="0" name="MasterList" nillable="true" type="q1:ArrayOfMasterListItem" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientSourceID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientTariffsBizActionVO" nillable="true" type="tns:clsGetPatientTariffsBizActionVO" />
  <xs:complexType name="clsUpdatePatientForIssueBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:clsPatientVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUpdatePatientForIssueBizActionVO" nillable="true" type="tns:clsUpdatePatientForIssueBizActionVO" />
  <xs:complexType name="clsDeActiveIssuePatientBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:clsPatientVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDeActiveIssuePatientBizActionVO" nillable="true" type="tns:clsDeActiveIssuePatientBizActionVO" />
  <xs:complexType name="clsGetPatientForLoyaltyCardIssueBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsLoyaltymember" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyProgramID" type="xs:long" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MrNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:ArrayOfclsPatientGeneralVO" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientForLoyaltyCardIssueBizActionVO" nillable="true" type="tns:clsGetPatientForLoyaltyCardIssueBizActionVO" />
  <xs:complexType name="ArrayOfclsPatientGeneralVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPatientGeneralVO" nillable="true" type="tns:clsPatientGeneralVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPatientGeneralVO" nillable="true" type="tns:ArrayOfclsPatientGeneralVO" />
  <xs:complexType name="clsAddPatientServiceDetailsVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientServiceList" nillable="true" type="tns:ArrayOfclsPatientServiceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddPatientServiceDetailsVO" nillable="true" type="tns:clsAddPatientServiceDetailsVO" />
  <xs:complexType name="clsGetTariffAndRelationFromApplicationConfigurationBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FamilyDetails" nillable="true" type="tns:ArrayOfclsPatientFamilyDetailsVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetTariffAndRelationFromApplicationConfigurationBizActionVO" nillable="true" type="tns:clsGetTariffAndRelationFromApplicationConfigurationBizActionVO" />
  <xs:complexType name="clsGetPatientDetailsForCRMBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="AgeFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CivilID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplaintID" type="xs:long" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:long" />
      <xs:element minOccurs="0" name="DoctorID" type="xs:long" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyCardID" type="xs:long" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatusID" type="xs:long" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:ArrayOfclsPatientVO" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientDetailsForCRMBizActionVO" nillable="true" type="tns:clsGetPatientDetailsForCRMBizActionVO" />
  <xs:complexType name="ArrayOfclsPatientVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPatientVO" nillable="true" type="tns:clsPatientVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPatientVO" nillable="true" type="tns:ArrayOfclsPatientVO" />
  <xs:complexType name="clsGetPatientGeneralDetailsListBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CivilID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="IsLoyaltyMember" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyProgramID" type="xs:long" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDetailsList" nillable="true" type="tns:ArrayOfclsPatientGeneralVO" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchInAnotherClinic" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="VisitFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitToDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitWise" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientGeneralDetailsListBizActionVO" nillable="true" type="tns:clsGetPatientGeneralDetailsListBizActionVO" />
  <xs:complexType name="clsGetPatientDetailsForCounterSaleBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MRNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:clsPatientVO" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientDetailsForCounterSaleBizActionVO" nillable="true" type="tns:clsGetPatientDetailsForCounterSaleBizActionVO" />
  <xs:complexType name="clsAddPatientBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientDetails" nillable="true" type="tns:clsPatientVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddPatientBizActionVO" nillable="true" type="tns:clsAddPatientBizActionVO" />
  <xs:complexType name="clsGetPatientFamilyDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FamilyDetails" nillable="true" type="tns:ArrayOfclsPatientFamilyDetailsVO" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetPatientFamilyDetailsBizActionVO" nillable="true" type="tns:clsGetPatientFamilyDetailsBizActionVO" />
  <xs:complexType name="clsCheckPatientMemberRegisteredBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FamilyDetails" nillable="true" type="tns:clsPatientFamilyDetailsVO" />
      <xs:element minOccurs="0" name="PatientID" type="xs:long" />
      <xs:element minOccurs="0" name="RelationID" type="xs:long" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCheckPatientMemberRegisteredBizActionVO" nillable="true" type="tns:clsCheckPatientMemberRegisteredBizActionVO" />
</xs:schema>