ori_sys/code/MIS/Service References/RaziClinicServiceRef/RAZIClinicWeb21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.StaffMaster" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PalashDynamics.ValueObjects.Administration.StaffMaster" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsStaffMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" type="xs:long" />
      <xs:element minOccurs="0" name="AddedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AddedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesignationID" type="xs:long" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaffName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedUnitID" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedWindowsLoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsStaffMasterVO" nillable="true" type="tns:clsStaffMasterVO" />
  <xs:complexType name="clsGetStaffMasterDetailsByIDBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="StaffID" type="xs:long" />
      <xs:element minOccurs="0" name="StaffMasterList" nillable="true" type="tns:clsStaffMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetStaffMasterDetailsByIDBizActionVO" nillable="true" type="tns:clsGetStaffMasterDetailsByIDBizActionVO" />
  <xs:complexType name="clsGetStaffMasterDetailsBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DesignationID" type="xs:long" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsPagingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumRows" type="xs:int" />
      <xs:element minOccurs="0" name="StaffMasterList" nillable="true" type="tns:ArrayOfclsStaffMasterVO" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" type="xs:long" />
      <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGetStaffMasterDetailsBizActionVO" nillable="true" type="tns:clsGetStaffMasterDetailsBizActionVO" />
  <xs:complexType name="ArrayOfclsStaffMasterVO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsStaffMasterVO" nillable="true" type="tns:clsStaffMasterVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsStaffMasterVO" nillable="true" type="tns:ArrayOfclsStaffMasterVO" />
  <xs:complexType name="clsAddStaffMasterBizActionVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="StaffDetails" nillable="true" type="tns:clsStaffMasterVO" />
      <xs:element minOccurs="0" name="SuccessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAddStaffMasterBizActionVO" nillable="true" type="tns:clsAddStaffMasterBizActionVO" />
</xs:schema>