ori_sys/code/WindowsFormsApplication1/Service References/RegisrationService/PatientRegistration1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PatientCategoryID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="RegistrationDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="GenderID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="BloodGroupID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="MaritalStatusID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ReligionID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="OccupationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ResiNoCountryCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ResiSTDCode" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ResidenceNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MobileCountryCode" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="CivilID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveRegistrationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRegistration" />
  </wsdl:message>
  <wsdl:message name="SaveRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientRegistrationSoap">
    <wsdl:operation name="SaveRegistration">
      <wsdl:input message="tns:SaveRegistrationSoapIn" />
      <wsdl:output message="tns:SaveRegistrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientRegistrationSoap" type="tns:PatientRegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveRegistration">
      <soap:operation soapAction="http://tempuri.org/SaveRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientRegistrationSoap12" type="tns:PatientRegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveRegistration">
      <soap12:operation soapAction="http://tempuri.org/SaveRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientRegistration">
    <wsdl:port name="PatientRegistrationSoap" binding="tns:PatientRegistrationSoap">
      <soap:address location="http://shspl75.shs.com/PalashIPAD.WebServer/ServicesForIPAD/PatientRegistration.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientRegistrationSoap12" binding="tns:PatientRegistrationSoap12">
      <soap12:address location="http://shspl75.shs.com/PalashIPAD.WebServer/ServicesForIPAD/PatientRegistration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>